ul {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  opacity: 0.2;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  z-index: 1;
}

.App-header h1 {
  padding: 50px 0px 10px 0px;
  z-index: 2;
  position: relative;
}

.App-header {
  background-color: #222;
  width: 100%;
  display: inline-block;
  color: white;
  position: relative;
}

.App-intro {
  font-size: large;
}

.gen-selection button.unselected {
  background-color:#ffffff;
  border:1px solid #bbbbbb;
  display:inline-block;
  cursor:pointer;
  color:#444444;
  font-size:15px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.gen-selection button.unselected:hover {
  background-color:#f6f6f6;
}

.gen-selection button.selected {
  background-color:#333333;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#eeeeee;
  font-size:15px;
  padding:6px 24px;
  text-decoration:none;
}
.gen-selection button.hover {
  background-color:#2b2b2b;
}

div.options {
  padding-top: 10px;
  display: inline-block;
}

div.container {
  display:inline-block;
  text-align: left;
}

div.strategies {
  display:inline-block;
  float: left;
  text-align: left;
}

div.strategy-options {
  display:inline-block;
  float: left;
  text-align: left;
}

div.encounter-buttons button {
  float: left;
  width: 60px;
  height: 40px;
}

div.encounter-buttons button.reset-counter {
  margin-left: 10px;
  clear: right;
}

div.encounter-buttons button.counter-button {
  font-size: 24px;
}

div.encounters-label {
  clear: left;
  text-align: left;
  padding-top: 10px;
}

div.encounters-label label {
  padding-right: 10px;
}

div.shiny-odds-info {
  text-align: left;
}

div.shiny-info {
  padding: 20px 0px 0 0;
}
